/.metadata/
/misc/derivedSamples/*
/misc/ASTAnalysis/.idea
/misc/ASTAnalysis/venv
/ConverterAndComplexityAnalyzerAPI/node_modules
/FractalDynamicDataCollector/vips-dev-8.12
/FractalDynamicDataCollector/.idea
/FractalDynamicDataCollector/generated_dataset_vp_data
/FractalDynamicDataCollector/generated_dataset_vp_graph_data
/FractalDynamicDataCollector/generated_dataset
.Rproj.user
/EvolutionSPLFramework/evolutionDirectory/*
/EvolutionSPLFramework/src/automatedPlanner/test/fclDemos/*
/EvolutionSPLFramework/src/automatedPlanner/test/demos/*
/FractalDynamicDataCollector/queueConsumer/venv
/FractalDynamicDataCollector/queueConsumer/.idea
