/.metadata/
/misc/ASTAnalysis/.idea
/misc/ASTAnalysis/venv
/ConverterAndComplexityAnalyzerAPI/node_modules
/FractalDynamicDataCollector/vips-dev-8.12
/FractalDynamicDataCollector/.idea
/FractalDynamicDataCollector/generated_dataset_vp_data
/FractalDynamicDataCollector/generated_dataset_vp_graph_data
/FractalDynamicDataCollector/generated_dataset
.Rproj.user
/EvolutionSPLFramework/evolutionDirectory/*